.contenedor{
    height: 100%;
    margin: 2rem;
    padding: 2rem;
    background-color: #ebebeb;
}

.contenedor_preg_frecuentes {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
}

.contenedor_preg_frecuentes h1 {
    font-size: 1.5rem;
    color: #642E2E;
}

.contenedor_preg_frecuentes h2 {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.7rem;
    color: #642E2E;
}

.contenedor_preg_frecuentes p {
    padding: 0.4rem 1rem 1.2rem 1rem;
    color: #642E2E;
}