.contenedor {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.contenedor h2 {
    color: #602929;
    margin-bottom: 1em;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5em;
}

.caja {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c9afaf;
    border-radius: 1rem;
    padding: 1.2rem;
    gap: 0.8rem;
}

.caja h3 {
    color: #602929;
}

.resultados {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9afaf;
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.6em;
}

.resultado-aerolinea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.resultado-aerolinea hr {
    flex-grow: 1;
}

.duracion-mas-escala {
    font-size: 0.850rem;
    text-align: center;
}

.mapa .pasillo {
    font-size: 0.9rem;
    text-align: center;

}

.mapa {
    display: grid;
    grid-template-columns: auto repeat(9, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;

    font-size: 2rem;
    color: #602929;
    font-weight: bold;
}

.mapa .numero {
    grid-column: 1;
    font-size: 1.2rem;
    font-weight: bold;
    color: #602929;
}

.mapa .letra {
    grid-row: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #602929;
}

.mapa .vacio {
    grid-column: 1;
    grid-row: 1;
}

.referencias {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.9rem;
    color: #602929;
}

.numeros {
    display: flex;
    flex-direction: column;
    color: #602929;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2.2rem;
    gap: 1.2rem;
    margin-right: 2rem;
}

.grupo {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c9afaf;
    border-radius: 0.6rem;
    padding: 0.8rem;
    gap: 1.2rem;
    margin-right: 2rem;
}

.disponible {
    color: #9b7fc4;
}

.cuadrado.ocupado {
    margin-left: 1rem;
}

.ocupado {
    color: #ccc;
}

.seleccionado {
    color: #602929;
}

.submit-button {
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #642E2E;
    background-color: #642E2E;
    color: #fff !important;
    padding: 0.2rem 1rem;
    cursor: pointer;
    width: 12rem;
    align-self: end;
    height: 4rem;
}