* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.contenedor_reservas {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 12rem;
    background-color: #ebebeb;
}

.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}

.link:hover{
    color: #9c7575;
}

.contenido_principal_reservas {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 10rem;
    width: 100%;
}



.contenido_principal_reservas h1 {
    font-size: 1.5rem;
    color: #642E2E;
    border-bottom: 0.1rem solid #642E2E;
}

.contenido_principal_reservas h2 {
    font-size: 0.9rem;
    padding: 0.7rem;
    color: #642E2E;
}

.contenido_secundario_reservas {
    margin-top: 1rem;
    border-left: 0.1rem solid #642E2E;
    padding-left: 1rem;
    color: #642E2E;

}


.contenido-seleccionado {
    background-color: #C9AFAF;
    font-size: 1.2rem;
    font-weight: bold;
}

strong {
    margin-left: 0.5rem;
}

.categoria {
    font-weight: bold;
    font-size: 1.2rem;
}

.contenedor {
    padding: 1rem;
    margin-top: 1rem;
    width: auto;
    max-width: 90%;
    height: auto;
    background-color: #C9AFAF;
    border-radius: 4px;
}

.contenedor_size {
    padding: 1rem;
    margin-top: 1rem;
    width: auto;
    max-width: 80%;
    height: auto;
    justify-content: center;
    background-color: #C9AFAF;
    border-radius: 4px;
}

.seccion-superior {
    display: flex;
    width: auto;
    justify-content: flex-start;
}

.seccion-inferior {
    display: flex;
    width: auto;
}

.datos_personales {
    display: flex;
    width: auto;
    gap: 0.5rem;
    margin-left: 5rem;
}

.user-image {
    width: 10em;
    height: auto;
    border-radius: 50%;
}

.row input{
    padding: 0.5rem;
    width: 15em;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;


}

.cambiar-imagen {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.documento-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sector-imagen {
    margin-top: 1rem;
    width: auto;
}

.sector-imagen img {
    width: 10em;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.label {

    font-size: 1.2rem;
}

.documento input {
    padding: 0.5rem;
    width: 8em !important;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}

.documento select {
    padding: 0.5rem;
    width: 8.5em;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
     background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}

.datos-documento {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.sector-datos {
    display: flex;
    gap: 4rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.sector-completar {
    display: flex;
    gap: 4rem;
    box-sizing: border-box;

    align-items: center;
}

.envio {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.boton-documento {
    padding: 0.5rem 0.5rem;
    background-color: #642E2E;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}


.row_documento input[type="file"]{
    width: 1000 !important;
}
