* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.lateral {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #602929;
    padding: 1rem;
}

.lateral h1 {
    color: #602929;
    font-size: 1.5rem;
    color: #642E2E;
    border-bottom: 0.1rem solid #642E2E;
}

.lateral h2 {
    font-size: 0.9rem;
    padding: 0.7rem;
    color: #642E2E;
}

.seleccionado {
    background-color: #C9AFAF;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: bold;
}

.contenedor_reservas {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    padding-bottom: 12rem;
    background-color: #ebebeb;
}

.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}


.contenido_secundario_reservas {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1rem;
    border-left: 0.1rem solid #642E2E;
    padding-left: 1rem;
    color: #642E2E;
    width: 50rem;
}
.contenido_secundario_reservas h1, .contenido_secundario_reservas span {
    font-size: 1.2rem;
}

.contenido-seleccionado {
    background-color: #C9AFAF;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: bold;
}

strong {
    margin-left: 0.5rem;
}

.categoria {
    font-weight: bold;
    font-size: 1.2rem;
}

.contenedor {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(3 2fr);
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: #C9AFAF;
    border-radius: 4px;
    padding-top: 0;
}

.contenedor_size {
    display: grid;
    grid-template-rows: 1fr ;
    max-width: 100%;
    gap: 2em;
}

.seccion-superior {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: repeat(2 1fr);
    background-color: #C9AFAF;
    border-radius: 10px;
    padding: 1.2em;
    color: #602929;
}

.seccion-inferior {
    display: flex;
    width: auto;
}

.datos_personales {
    display: flex;
    width: auto;
    gap: 3rem;
}

.user-image {
    width: 10em;
    height: auto;
    border-radius: 50%;
}

.row input{
    padding: 0.5rem;
    width: 15rem;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}



.cambiar-imagen {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.documento-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sector-imagen {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column; 
    
}

.sector-imagen img {
    width: 15em;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.label {
    font-size: 1.2rem;
    text-align: left;
}

.documento input[type="text"],
.documento input[type="number"],
.documento input[type="email"],
.documento input[type="date"] {
    padding: 0.5rem;
    width: 100%;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}

input[type="file"]{
    padding: 0.5rem;
    width: 11rem !important;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
    accent-color: #642E2E !important;
    background-color: #642E2E !important;
}

select {
    padding: 0.5rem;
    width: 15em;
    border: 0.1rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}
.documento {
    display: grid;
    grid-template-rows: 1fr 9fr;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.datos-documento {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    width: 15rem;
    padding-top: 1rem;
}
.datos-documento .row {
    width: 13rem;
}
.datos-documento .row input, .datos-documento .row select {
     width: 100%;
    width: 100%;
}

.sector-datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
}

.sector-completar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
}

.sector-completar .row, .sector-completar .row input, .sector-completar .row select {
    width: 15rem;
}

.envio {
    display: flex;
    justify-content: flex-end;
}

.boton-documento {
    padding: 0.5rem 0.5rem;
    background-color: #642E2E;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    width: 9em;
}
.editar-documento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.row_documento input[type="file"]{
    width: 1000 !important;
}