* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 2rem;
}

.categoria {
    color: #642E2E;
    font-size: 2rem;
}

label {
    display: block !important;
    font-size: 1.1rem !important;
    font-weight: bold;
}

input,
select {
    margin-top: 0;
}




.resumen {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

.datos_pasajero {
    width: 1fr;
    height: auto;
    gap: 1em;
    border-radius: 5px;
    border: 0.1rem solid #9c9c9c;
    border-radius: 26px 26px 10px 10px;
}

.metodo_pago {
    width: 1fr;
    height: auto;
    gap: 1em;
    border-radius: 5px;
    border: 0.1rem solid #9c9c9c;
    border-radius: 26px 26px 10px 10px;
}

.documento {
    width: auto;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
}

select {
    width: auto !important;
}

.resumen_vuelo {
    width: 1fr;
    height: auto;
    gap: 1em;
    border-radius: 5px;
    border: 0.1rem solid #9c9c9c;
    border-radius: 26px 26px 10px 10px;
}

.header {
    width: 100%;
    padding: 1rem;
    background-color: #ebdbdb;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.dos-columnas {
    display: flex;
    flex-direction: column;
}

.sub-header {
    width: 100%;
    padding: 0.5rem;
    background-color: #ebdbdb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.sector_img {
    color: #642E2E;
    font-size: 1.5rem;
}

.sub-header {
    display: flex;
    justify-content: flex-start;
    border: 0.1rem solid #9c9c9c;
}

.sector_inferior {
    justify-self: center !important;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    color: #642E2E;
    font-weight: bold;
}

.sub-title {
    font-size: 1.rem;
    padding: 0.5em;
    color: #642E2E;
    font-weight: bold;

}

.subtitle {
    font-size: 1rem;
    color: #4d4c4c;
}

.contenido {
    width: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.sub_contenido {
    width: auto;
    max-width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    border: 0.1rem solid #9c9c9c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.contenido_row {
    width: auto;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.contenido_row {
    color:#642E2E !important;
}

.fecha_cvv {
    width: auto !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}





.centrado {
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    gap: 1rem;

}

.centrado p {
    font-weight: bold;

}

.precio {
    display: flex;
    justify-content: space-between !important;
}

.cupon_descuento {
    display: flex;
    align-items: center;
    justify-content: center !important;
    gap: 1rem;
}

.aplicar_cupon {
    padding: 0.5rem 1rem;
    background-color: #642E2E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
}

.aplicar_cupon:hover {
    background-color: #9c7575;
}

.millas_descuento {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 0.5rem;
}

.confirmar {
    margin-top: 1rem;
    width: auto;
    display: flex;
    justify-self: center !important;
    padding: 0.5rem 1rem;
    background-color: #642E2E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 2px;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button span {
    margin-left: 0.5rem;
}

.confirmar:hover {
    background-color: #9c7575;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    padding: 0.5rem;
    width: auto;
    border: 0.12rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1rem;
}

.cvv {
    width: 35%;

    gap: 0.5rem;
    align-self: center !important;
}

input[type="number"] {
    width: 55% !important;
    border: 0.12rem solid #642E2E;
    border-radius: 3px;
    background-color: #fff;
    color: #642E2E;
    font-size: 1.2rem;
    padding: 0.5rem;
}

input[type="radio"] {
    accent-color: #642E2E !important;
    width: 5%;
}

.tarjeta {
    font-size: 1.2rem;
}

.precio_numero {
    font-weight: bold;
    color: #642E2E;
}


label {
    font-size: 1rem;
    color: #000000;
}