html,
body {
    height: 100%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_principal {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #642E2E;
    border-radius: 20px;
    background-color: #C9AFAF;
    margin: 2rem;
    gap: 1.5rem;
    padding: 2rem;
}

.contenido_buscar_vuelo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1.5rem;
    padding: 2rem;
    color: #642E2E;
    margin-bottom: 5rem;
}

.buscador {
    padding: 2.5em !important;
}

label input, select{
    height: 45px;
}

.categoria {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.tipo_vuelo label {
    font-size: 1.5rem !important;
    color: #642E2E;
}

.tipo_vuelo label input {
    accent-color: #642E2E !important;

}

.boton_buscar{
    margin-top: 1.5rem;
}

.contenido_principal h1 {
    color: #642E2E;
    font-size: 2rem;
}