.banner img {
    display: block;
    width: 100%;
}

.buscador {
    width: auto;
    background-color: #f5ecec;
    border: 2px solid #642E2E;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contenedor h1 {
    color: #642E2E;
    font-size: 2rem;
}

.contenido_buscar_vuelo {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #4e2020;
    border-radius: 2rem;
    padding: 2rem 2.5rem;
    background-color: #ccb5b5;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.buscador label {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    color: #642E2E;
    font-weight: bold;
    font-size: 1rem;
}

.tipo_vuelo {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tipo_vuelo label {
    flex-direction: row;
    align-items: center;
    width: auto;
}

.fila {
    display: flex;
    gap: 5rem;
}

.fila input,
.fila select {
    border: 1px solid #642E2E;
    border-radius: 6px;
    padding: 0.4rem;
    background: white;
    font-size: 1rem;
    width: 100%;
}

input:hover,
select:hover {
    background-color: #ccc;
}

.tipo_vuelo label{
    font-size: 1.2rem;
    accent-color:#642E2E ;
}

.categoria{
    display: flex;
    align-items: center;
gap:0.5em;
}

.boton_buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: #642E2E;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.boton_buscar:hover {
    background: #4e2020;
}