.banner img {
    width: 100%;
    display: block;
}

.buscador {
    width: 80%;
    background-color: #f5ecec;
    border: 1px solid #642E2E;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buscador label {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    color: #642E2E;
    font-weight: bold;
    font-size: 1rem;
}

.tipo_vuelo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.tipo_vuelo label {
    flex-direction: row;
    align-items: center;
    width: auto;
}

.fila {
    display: flex;
    gap: 2rem;
}

.fila input,
.fila select {
    border: 1px solid #642E2E;
    border-radius: 6px;
    padding: 0.4rem;
    background: white;
    font-size: 1rem;
    width: 100%;
}

.boton_buscar {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background: #642E2E;
    color: white;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
}

.boton_buscar:hover {
    background: #4e2020;
}