.contenedor{
    padding: 2rem;
    background-color: #ebebeb;
    height: 120%;
}
.contenedor_preg_frecuentes {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 12rem;
    border-bottom: 0.1rem solid #642E2E;
}
.contenedor_preg_frecuentes h1 {
    font-size: 1.5rem;
    color: #642E2E;
}
.contenedor_preg_frecuentes h2 {
    text-transform: bold;
    font-size: 1rem;
    padding: 0.7rem;
    color: #642E2E;
}
.contenedor_preg_frecuentes p {
    padding: 0.7rem 1rem;
    color: #642E2E;
}