.contenedor_reservas {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
    padding: 2em;
    background-color: #ebebeb;
}

.lateral {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #602929;
}

.lateral h2 {
    color: #602929;
}

.seleccionado {
    background-color: #C9AFAF;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: bold;
}

.vuelos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: 1px solid #602929;
    padding-left: 1.5em;
    color: #602929;
}

.tarjeta {
    background-color: #C9AFAF;
    border-radius: 10px;
    padding: 1.2em;
    color: #602929;
}

.abierta {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.contenido img {
    width: 10%;
}

.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}

.link:hover{
    color: #9c7575;
}