.contenedor_reservas {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
    padding: 2em;
    background-color: #ebebeb;
}

.tarjeta a{
    text-decoration: none;
    color:#fff
}

.tarjeta button:hover{
    background-color: #7c5050;
}

.lateral {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #602929;
    padding: 1rem;
}

.lateral h1 {
    color: #602929;
    font-size: 1.5rem;
    color: #642E2E;
    border-bottom: 0.1rem solid #642E2E;
}

.lateral h2 {
    font-size: 0.9rem;
    padding: 0.7rem;
    color: #642E2E;
}

.seleccionado {
    background-color: #C9AFAF;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: bold;
}

.vuelos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1rem;
    border-left: 0.1rem solid #642E2E;
    padding-left: 1rem;
    color: #642E2E;
}

.boton{
    width: 12%;
    background-color: #642E2E;
    color: #fff;
    margin-top:1rem;
    padding: 0.7em 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    justify-self: flex-end;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: #C9AFAF;
    border-radius: 10px;
    padding: 1.2em;
    color: #602929;
}

.abierta {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.contenido img {
    width: 10%;
}

.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}

.link:hover{
    color: #9c7575;
}