.contenedor{
    display: flex;
    justify-self: center;
    margin-top: 1rem;
    width: 80%;
    padding: 1em 5em;
    color: #602929;
    flex-direction: column;
    align-items: center;
    
}
.tarjeta {
    width: 55%;
    background-color: #C9AFAF;
    border-radius: 15px 50px 15px 50px;
    border: 1px solid #602929;
    padding: 1.2em;
    color: #602929;
    margin: 1em 5em;
    font-size:large;

}

.abierta {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.abierta p{
    display:flex;
    font-size: 1.1em;
    gap: 0.2rem;
}

.icon{
    width: 35px;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-secundario{
    text-align: center;
    color: black;
    font-size: 1.2em;
}
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.contenido img {
    width: 15%;
}
.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}