* {
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 1rem auto;
    width: 80%;
    min-height: 75vh;
    color: #602929;
}

h1{
    margin-bottom: 1rem;
}

.contenedor p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#contenedor-reservas{
    width: 100%;
    margin-top: 1rem;
}

.tarjeta {
    width: 55%;
    background-color: #C9AFAF;
    border-radius: 15px 50px 15px 50px;
    border: 1px solid #602929;
    padding: 1.2em;
    color: #602929;
    margin: 1rem auto;
    font-size: large;
}

.abierta {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.abierta p{
    display:flex;
    align-items: center;
    font-size: 1.1em;
    gap: 0.4rem;
}

.icon{
    width: 35px;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-secundario{
    text-align: center;
    color: black;
    font-size: 1.2em;
    margin-top: 1rem;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.contenido img {
    width: 15%;
}

.link{
    text-decoration: none;
    color:#642E2E;
    font-weight: bold;
}