.contenedor_vuelos {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 3rem;
    margin: 3rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.busqueda {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.5rem;
}

.busqueda input {
    grid-column: 1 / 1;
    border: 2px solid #7a2e2e;
    height: 2rem;
    font-size: large;
    border-radius: 10px;
    padding: 1rem;
}

.icono-busqueda {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2/2;
    color: #fff;
    background-color: #7a2e2e;
    height: 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #883e3e !important;
    width: 5rem;

}

.icono-busqueda i{
    width: 100%;
    text-align: center;
}
@media (max-width: 870px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width: 623px) {
    main{
        padding: 0 1.5rem;
    }
    .row{
        grid-template-columns: 1fr;
    }
    #input-busqueda{
        margin: 0 3rem;
    }
    .busqueda{
        grid-template-columns: 1fr;
    }
    .busqueda .icono-busqueda {
        grid-row: 2;
        grid-column: 1 / -1;
        margin: 0 auto;
        justify-content: center;
        width: 3rem;
    }
}
@media (max-width: 500px) {
    .busqueda{
        margin: 0 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    #input-busqueda{
        width: 15rem;
        margin: 0;
    }
}

.card_vuelo {
    background-color: #7a2e2e;
    border-radius: 2rem;
    padding: 1.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.img_vuelo img {
    width: 100%;
    height: 11rem;
    object-fit: cover; 
    display: block;
    border-radius: 1rem;
}

.info_vuelo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    flex-grow: 1; 
}

.info_vuelo p {
    font-size: 1rem;
    font-weight: bold;
    color: #7a2e2e;
}

.info_vuelo strong {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    color: #3a1414;
    font-size: 1.4rem;
}

.info_vuelo button {
    width: auto;
    min-width: 0.8rem;
    background-color: #7a2e2e;
    border: none;
    color: #fff;
    font-size: 1rem;
    align-self: center;
    margin-top: auto;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.icono-busqueda:hover {
    color: #883e3e;
    background-color: #fff;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #3a1414;
}

.boton {
    font-size: 0.9rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #7a2e2e;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}


.boton-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #7a2e2e;
    font-size: 2.5rem;
    cursor: pointer;
}

.boton-subir:hover {
    background-color: #7a2e2e;
    color: #fff;
    border-radius: 10rem;
    width: 5%;
    height: 50%;
}