.contenedor {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.contenedor h2 {
    margin-bottom: 1rem;
    color: #602929;
}

.grilla {
    display: grid;
    grid-template-columns: 0.7fr 1.4fr 0.7fr;
    gap: 1.5rem;
}

.busqueda{
    padding: 0.5em;
    font-size: 1rem;
    border-color:#642E2E;
    border-radius: 5px;
}

.btn-refrescar{
    margin-top:1em;
    background-color:#642E2E;
    color: #fff;
    border-radius: 5px;
    padding:0.5rem;
    border: 1px solid #642E2E !important;
}

.btn-refrescar:hover{
    background-color:#814242;
    cursor: pointer;
}

.caja {
    background-color: #fff;
    border: 0.1rem solid #c9afaf;
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: 1rem;
}

.caja h3 {
    color: #602929;
}

.caja h4 {
    color: #444;
    margin-top: 0.5rem;
}

.caja p {
    font-size: 0.9rem;
    color: #444;
}

.caja label {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.rango_precio {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #602929;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
    accent-color: #642E2E;
}

.botones-filtro{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.volver-filtro{
    background-color: white;
    border: 2px solid #7a2e2e;
    padding: 0.7rem 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.volver-filtro a{
    color: #7a2e2e;
    text-decoration: none;
    font-weight: bold;
}

.refrescar-filtro{
    background-color: #7a2e2e;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.refrescar-filtro a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.volver-filtro:hover{
    background-color: #f3f3f3;
}

.refrescar-filtro:hover{
    background-color: #5c2020;
}

.resultados {
    border: 1px solid #c9afaf;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.resultados h4 {
    color: #602929;
}

.resultado-aerolinea {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.resultado-aerolinea hr {
    flex-grow: 1;
}

.hora-y-ciudad {
    font-size: 1.4rem;
    font-weight: bold;
    color: #602929;
    margin-right: 1rem;
    margin-left: 1rem;
}

.acciones {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.duracion-escala {
    width: 90%;
    text-align: center;
}

.etiqueta_precio {
    background-color: #f5ecec;
    border: 1px solid #602929;
    border-radius: 0.6rem;
    padding: 0.3rem 0.5rem;
    color: #602929;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.resultado-aerolinea button {
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.btn-seleccionar {
    background-color: #602929;
}

.btn-seleccionar a {
    color: #fff;
}

.btn-detalles {
    background-color: #fff;
    border: 1px solid #602929;
}

.btn-detalles a {
    color: #602929;
}

button a {
    text-decoration: none;
}